.containerSection {
    position: relative;
}


.containerButtons {
    width: 100%;
    background-color: #6940ff;
    position: absolute;
    bottom: 3%;
    left: 0;
    display: flex;
    justify-content: center;
}

.containerButtons .Buttons {
    margin: 15px 30px;
}