.containerSection {
    width: 100%;
    height: auto;
    background-color: #EDEDED;
}

/* Logo And BUTTON */

.LogoAndButton {
    background-color: aliceblue;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 40px;
    box-shadow: 0px 5px 10px rgba(55, 55, 55, 0.1)
}

.LogoAndButton button{
    border: none;
    font-size: 30px;
    border-radius: 15px;
    background-color: transparent;
    background-color:#0059F3;
    color: aliceblue;
    width: 50px;
    height: 50px;
    padding-top: 5px;
    cursor: pointer;
}


/* sideBar */

.ContainerQuestions {
    background-color: #0059F3;
    margin: 10px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Question {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: rgb(228, 228, 228);
}

.Question div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.Question span {
    font-size: 20px;
    font-weight: 400;
    padding: 8px 14px;
    width: auto;
    height: auto;
    border: 1px solid  rgb(228, 228, 228);
    border-radius: 50%;
    color: rgb(228, 228, 228);
}

.Question p {
    font-size: 20px;
    font-weight: 300;
}


/* fomulario y barra de progreso */

.container {
    height:max-content;
    display: flex;
    flex-direction: row;
    justify-content: end;
}


/* Cuestionario y Barra */

.containerQuoteAndBar {
    background-color: aliceblue;
    height: auto;
    width: 100%;
    margin: 10px;
}

.containerBar {
    border-bottom: 1px solid rgb(207, 207, 207);
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerQuote {
    width: auto;
    height: auto;
}
