.containerSkills {
    background-image: url('./images/fondo.jpg');
    background-attachment: fixed;
    height: 100%;
    padding: 30px 15px;
}


.containerTitle {
    padding: 30px 15px;
    text-align: center;
}

.containerTitle .title{
    font-size: 50px; 
    font-weight: 600;
    color: aliceblue;
    letter-spacing: -2px;
}

.containerCards {
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 20px 5px;
    margin-bottom: 40px;
}

.containerCards .boxCard{
    background-color: aliceblue;
    width: 250px;
    height: 350;
    margin: 5px 30px;
    border-radius: 15px;
}

.containerCards .boxCard .icon{
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
}

.containerCards .titleCard{ 
    text-align: center;
    margin: 5px 10px;
    padding: 10px 0px;
}

.containerCards .titleCard h4{
    font-size: 20px;
    color: #484848;
    margin: 5px;
    font-weight: 500;
}

.containerCards .titleCard p{
    font-size: 15px;
    color: #484848;
    text-align: center;
    padding: 10px 20px;
    
}

