.containerExtraServices {
    height: 680px;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.containerExtraServices .titleCuestion {
    width: auto;
    height: auto;
    padding: 20px 15px;
}

.containerExtraServices .titleCuestion h3 {
    color: rgb(76, 76, 76);
    font-size:50px;
    font-weight: 600;
    letter-spacing: -2px;
}

.containerButtons {
    display: flex;
    gap: 15px;
    padding-left: 15px;
}

.containerButtons .button {
    height: 50px;
    width: 200px;
    font-size: 18px;
    letter-spacing: 1px;
    background-color: blueviolet;
    color: aliceblue;
    border: none;
    cursor: pointer;
}

.TrueExtraServiceContainer {
    display: flex;
    gap: 15px;
    padding-left: 15px;
}


.TrueExtraServiceContainer input{
    padding-left: 15px;
    font-size: 18px;
    height: 50px;
    width: 60%;
    border: 1px solid rgb(202, 202, 202);
}

.TrueExtraServiceContainer button{
    height: 50px;
    width: 150px;
    font-size: 15px;
    letter-spacing: 1px;
    background-color: blueviolet;
    color: aliceblue;
    border: none;
    cursor: pointer;
}