.containerAmountVisites {
    height: 680px;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.titleCuestion {
    width: auto;
    height: auto;
    padding: 20px 15px;
}

.containerAmountVisites .titleCuestion h3{
    color: rgb(76, 76, 76);
    font-size:50px;
    font-weight: 600;
    letter-spacing: -2px;
}

.containerAmountVisites .containerButtons {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
    padding-left: 15px;
}

.containerButtons .button {
    height: 50px;
    width: 300px;
    font-size: 18px;
    letter-spacing: 1px;
    background-color: blueviolet;
    color: aliceblue;
    border: none;
    cursor: pointer;
}