a {
    text-decoration: none;
}

.card {
    height: 70px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(206, 206, 206);
}

.containerInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 22px 30px;
}

.containerInfo p {
    font-size: 15px;
    color:rgb(136, 136, 136) ;
    text-align: start;
    width:20%;
    
}

.containerInfo .isActive {
    font-size: 22px;
    color:rgb(136, 136, 136) ;
    text-align: end;
    padding-right: 10px;
    
}

.containerInfo .email {
    text-align: center;
    
}
