.container {
    background-color: #FFFFFF;
    border: 1px solid rgb(221, 221, 221);
    width: 49%;
    height: max-content;
    padding: 0px;
    margin: 30px 0px;
    display: flex;
    justify-content: center;
}

.subContainer {
    height: max-content;
    width: 40%;
    height: max-content;
    padding: 20px 20px;
}

.subContainer h2 {
    font-size: 120px;
    font-weight: 700;
    text-align: center;
    color: rgba(0, 0, 0,.8);
    margin-bottom: 15px;
}

.subContainer h4 {
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    color: rgba(0, 0, 0,.8);
}

.rating {
    font-size: 72px;
    color: #000;
}

.subContainer p {
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    color: rgb(115, 115, 115);
}