.container {
    background-color: #FFFFFF;
    border: 1px solid rgb(221, 221, 221);
    width: 49%;
    height: max-content;
    padding: 0px;
    margin: 30px 0px;
    display: flex;
    justify-content: center;
}

.subContainer {
    height: max-content;
    width: 100%;
    height: max-content;
    padding: 20px 20px;
}

.subContainer h2 {
    font-size: 120px;
    font-weight: 700;
    text-align: center;
    color: rgba(0, 0, 0,.8);
    margin-bottom: 15px;
    padding: 0 auto;
}

.subContainer h4 {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    color: rgba(0, 0, 0,.8);
}

.rating {
    font-size: 72px;
    color: #000;
}

.subContainer p {
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    color: rgb(115, 115, 115);
}




/* Estilos para mobile ----------------------------------------------------------*/

@media only screen and (max-width: 680px) {

    .container {
        width: 70%;
        height: auto;
        padding: 0px;
        margin: 30px auto;
        box-shadow: 0px 0px 40px rgba(0, 0, 0,.3);
    }
    
    .subContainer {
        width: auto;
        height: max-content;
        padding: 20px;
    }
    
    .subContainer h2 {
        font-size: 42px;
        font-weight: 600;
    }
    
    .subContainer h4 {
        font-size: 22px;
    }
    
    .subContainer p {
        font-size: 16px;
    }
    
}