.NavBarContainer {
    height: 10%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    margin-top: 6px;
    position: relative;
    top: 15px;
    left: 0;
    z-index: 1000;
}

/* Logo Nav */

.Link .logo {
    display: flex;
    justify-content: center;
    align-content: center;
}


/* Menu Items */

.NavBarContainer .menu {
    width: 20%;
}

.menu ul {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    color: aliceblue;
    font-weight: 400;
    font-size: 17px;
}

/* Login */

.login button {
    font-weight: 400;
    font-size: 17px;
    color: aliceblue;
    background: transparent;
    border: none;
    cursor: pointer;
}