.quoteContainer {
    background-image: url('./images/fondo.jpg');
    background-attachment: fixed;
    height: 500px;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.containerTitle {
    padding: 30px 15px;
    text-align: center;
}

.containerTitle .quoteStartProyect {
    font-size: 50px; 
    font-weight: 600;
    letter-spacing: -2px;;
    color: aliceblue;
}

.containerButton { 
    width: 100%;
    text-align: center;
}

.containerButton .quoteButton{
    width: 300px;
    height: 50px;
    border-radius: 15px;
    border: none;
}

.containerButton .quoteButton a{
   text-decoration: none;
   font-size: 20px;
   color: #6940FF;
}

