.container {
    width: 100%;
    min-height: 100vh;
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgba(0,0,0,0.3);
}

.filtro {
    margin: 20px 0px;
}

.filtro select {
    font-size: 16px;
    color: #fff;
    padding: 6px 16px;
    border-radius: 4px;
    border: 1px solid #333;
    background: #6940ff;
}

.filtro option {
    font-weight: 500;
    color: #6940ff;
    background: #fff;
}

.reviewsContainer {
    width: 80%;
    margin: 10px auto;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 0;
    overflow-y: auto;
    align-items: stretch;
}

.notFound {
    width: auto;
    font-size: 24px;
    font-weight: 400;
    color: hsl(253, 100%, 63%);
    margin: 0px auto;
    margin-top: 120px;
    text-align: center;
}


