.container {
    width: auto;
    height: auto;
    padding: 40px 50px;
    text-align: center;
}

.cardContainer {
    width: 100%;
    height: auto;
    padding:0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.containerTitle h2 {
    margin-top: 80px;
    margin-bottom: 40px;
}