.container {
    width: auto;
    height: auto;
    padding: 40px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviewRatingAndContainer {
    width: 92%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardContainer {
    width: 100%;
    height: max-content;
    padding:0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.containerTitle {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
}

.container h3 {
    margin-top: 20px;
    font-weight: 200;
}

.container .buttonLogin {
    background-color: transparent;
    color: #6940FF;
    border: none;
    font-size: 18px;
    font-weight: 200;
    cursor: pointer;
}
