.container {
    width: 100%;
    text-align: center;
}

.boton {
    width: auto;
    height: auto;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: 6px 16px;
    border-radius: 4px;
    color: #fff;
    background-color: rgb(13, 58, 192);
}