.container {
    width: calc(50% - 10px);
    height: auto;
    max-height: 220px;
    padding: 20px;
    margin: 5px;
    border-radius: 4px;
    border: 1px solid rgb(219, 219, 219);
    background: #fff;
}

.firstRow {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding: 15px 0px;
}

.image {
    width: 45px;
    height: auto;
    padding: 0;
    margin: 0;
}

.image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.firstRow .containerNameAndDate {
    text-align: start;
    width: max-content;
    width: 50%;
}

.containerNameAndDate h4{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -1px;
    margin-bottom: 4px;
}

.containerNameAndDate p{
    font-size: 13px;
    color: #646464;
}

.firstRow .containerStarts {
    height: 50px;
    width: 50%;
    display: flex;
    align-items:center ;
    justify-content: end;
}

.containerStarts p {
    font-size: 25px;
    text-align: end;
}

.containerComment p{
    font-size: 16px;
    font-weight: 300;
    text-align: start;
    color: #a5a5a5;
    line-height: 23px;
}


/* .name {
    font-size: 20px;
    font-weight: 600;
    margin-left: 5px;
}

.stars {
    font-size: 26px;
    margin: 20px 0px;
}

.fecha {
    font-size: 14px;
    text-align: left;
}

.message {
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    padding: 5px 0px;
    color: rgba(0,0,0,.7);
} */