.detailsContainer {
    height: max-content;
    /* padding-bottom: 10px; */
}

/* detail card users */

.detailsContainer .containerCard {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    padding-bottom: 15px;
}

.labelAndSelect {
    border-bottom: 1px solid rgb(206, 206, 206);
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.labelAndSelect label {
    width: 29%;
    color: rgb(91, 91, 91);
    font-size: 18px;
}

.labelAndSelect .labelEmail {
    text-align: center;
    border: none;
}

.labelAndSelect select {
    width: 20%;
    height: 40px;
    border: 1px solid rgb(223, 223, 223);
    padding-left: 10px;
    font-size: 15px;
    cursor: pointer;
}

.containerCard .containerButton {
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 0px 10px;

}

.containerCard .containerButton button {
    width: 100px;
    height: 40px;
    background-color: #2F61E4;
    color: antiquewhite;
    border: none;
    cursor: pointer;

}

/* detail card project */

.detailsContainer .containerDetailProject {
    display: flex; 
    height: 100%;
}


/* contenedor img and inputs */
.containerDetailProject .containerSelectArchivos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.containerDetailProject .containerSelectArchivos img {
    width: 500px;
    height: 300px;
}

/* contenedor de inputs/h2 select/h4 textarea/p and buttons */

.containerDetailProject .InputSelectAndDescription {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    gap: 7px;
    margin-top: 20px;
}

/* input and h2 */

.InputSelectAndDescription .containerInput {
    height: 20%;
    padding-left: 20px;
}

.InputSelectAndDescription .containerInput h2 {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: -1px;
}

.InputSelectAndDescription .containerInput input {
    width: 30%;
    height: 40px;
    font-size: 15px;
    padding-left: 10px;
    border: 1px solid rgb(205, 205, 205);
    background-color: rgb(221, 221, 221);
    color: rgb(105, 105, 105);
    cursor: pointer;
}

/* select and h4 */

.InputSelectAndDescription .containerSelecth4 {
    height: 20%;
    padding-left: 20px;
}

.InputSelectAndDescription .containerSelecth4 h4 {
    font-size: 20px;
    font-weight: 400;
    color: rgb(90, 90, 90);

}

.InputSelectAndDescription .containerSelecth4 select {
    width: 30%;
    height: 35px;
    font-size: 15px;
    padding-left: 10px;
    border: 1px solid rgb(205, 205, 205);
    cursor: pointer;
}

/* textarea and p */

.InputSelectAndDescription .containerTextAreaAndP {
    padding-left: 20px;
    height: 40%;
}

.InputSelectAndDescription .containerTextAreaAndP p {
    font-size: 15px;
    padding-right: 20px;
}

.InputSelectAndDescription textarea {
    font-size: 15px;
    padding: 5px;
    border: 1px solid rgb(205, 205, 205);

}

.containerButtons {
    width: 30%;
    margin-left: 15px;
    display: flex;
    align-content: center;

}

.containerButtons button {
    height: 35px;
    width: 35%;
    margin-bottom: 20px;
    margin-left: 10px;
    background-color: #2F61E4;
    color: aliceblue;
    border: none;
    cursor: pointer;
}